#my-bots{
  margin: 50px 20px;
  min-height: 710px;

  .bot-item {
    .thumbnail {
      padding: 0;

      .top {
        background-color: $wild-sand;
        border-top-left-radius: $base-item-listing-border-radius;
        border-top-right-radius: $base-item-listing-border-radius;
        padding-bottom: 55px;
        padding-top:10px;
      }

      .bottom {
        padding-top: 35px;
        padding-bottom:10px;
        border-bottom-left-radius: $base-item-listing-border-radius;
        border-bottom-right-radius: $base-item-listing-border-radius;
      }


      .list-group-item-heading {
        text-align: center;
      }

      .list-group-item-text {
        text-align: center;
      }

      .btn-info {
        max-width: 100px !important;
      }

      .row {
        margin-top:15px;
      }

      .middle {
        width: 100%;
        top: 55px;
      }

      .svg-holder {
        text-align: center;
      }

      .float {
        position: absolute;
        margin-top: 0px;
      }
    }
  }
}