$primary-color : #FFF;
$secondary-color: #303641;
$accent-color : #28C2FF;
$accent-color-darker: #00719e;
$accent-color-lighter: #0077a7;
$accent-color-border: #37474f;

$black: #000;
$text-black: #2e2e2e;
$dove-gray: #666;
$dusty-gray: #999;
$mine-shaft: #222;
$material-grey: #dcdcdc;

$silver-chalice: #AAA;
$silver: #CCC;
$alto: #DFDFDF;
$gallery: #EEE;
$white: #FFF;

$alabaster: #F9F9F9;
$prussian-blue: #002F44;
$blue-ribbon: #0072FF;

$zumthor: #EDF5FF;
$seashell: #F1F0F0;
$wild-sand: #F6F6F6;

$mercury: #E9E9E9;
$picton-blue: #3FD7E9;

$bittersweet: #F96E58;
$candy-corn: #FCE160;
$bondi-blue: #009DAB;

// STATUS
$apple: #2EB43E;
$supernova: #FFC800;
$carnation: #F45D6C;

// BUTTONS
$fern: #5CB85C;
$roman: #D9534F;

// SOCIAL
$google: #DD4B39;
$facebook: #3B5998;
