html {
  height: 100%;
}

body {
  color: #797979;
  background: #f1f2f7;
  font-family: $base-font-family;
  padding: 0px !important;
  margin: 0px !important;
  font-size: $base-font;
  height:100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: $accent-color;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $accent-color;
  opacity: 0.4;
}

#body-content {
  height: 100%;
}

#shell {
  height: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  display: flex;
}

.links-list-sm > li.sep {
  display: inline-block;
  width: 0px;
  line-height: $base-line-height;
  overflow: hidden;
  margin-left: 10px;
}