// MEASUREMENTS

// Border Radius.
$base-item-listing-border-radius: 4px;
$base-panel-border-radius: 6px;
$base-modal-border-radius: 4px;
$base-input-border-radius: 4px;
$base-btn-border-radius: 4px;


// Global Margin.
$margin-sm: 40px;
$margin-xs: 20px;
$margin-xxs: 10px;

// Global Padding.
$padding-sm: 40px;
$padding-xs: 20px;
$padding-xxs: 10px;