// TYPOGRAPHY VARIABLES
$base-font: 14px;	// h5
$base-line-height: 1.42857143;
$base-font-family: 'Open Sans', sans-serif;
$base-letter-spacing: normal;

// STANDARD SIZES
$font-xs: 10px;
$font-sm: 13px;		// h6
$font-md: 16px;
$font-lg: 18px;
$font-x: 21px;
$font-xl: 24px;
$font-xxl: 30px;
$font-xxxl: 36px;

// FONT WEIGHT
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;

// LETTER SPACING
$primary-letter-spacing: .25px;
$secondary-letter-spacing: .5px;
