<div id="main-header">
    <div class="left">
    <ul class="list-inline links-list-lg pull-left noselect">
        <li class="list-inline-item">
            <div class="sidebar-toggle-box" ng-class="{active : !vmShell.sidebarToggled}" ng-click="vmShell.toggleSidebar()">
                <div class="fa fa-bars tooltips" data-placement="right"
                     data-original-title="Toggle Navigation"></div>
            </div>
        </li>
        <li class="list-inline-item">
            <a href="index.html" class="text-logo"><span>X</span><span>pro</span></a>
        </li>
    </ul>
    </div>

    <div class="right">
    <ul class="list-inline links-list-sm pull-right">
        <li class="list-inline-item sep"></li>
        <li class="list-inline-item" ng-click="vmShell.logout()"><a href="/" class="menu-item">
            <i class="fa fa-sign-out"></i> </a></li>
    </ul>
    </div>
</div>