<div id="login">
    <section class="hero">
        <div class="background-content page-enter-animated">
            <div class="level-1">
                <div class="bg-overlay"></div>
                <div class="bg-pattern"></div>
                <div id="canvas" class="layer">
                    <canvas class="bg-effect layer" data-depth="0.2"></canvas>
                </div>
            </div>
            <div class="level-2">
                <div class="bg-image layer" data-depth="0.04"></div>
            </div>
        </div>
    </section>


    <!-- Libs -->
    <script src="libs/canvas-anim.js"></script>
    <div class="content">
        <div class="title">
            <span class="title-p1">X</span><span class="title-p2">PRO</span>
        </div>

        <div class="sub-title">
            Easy to impress
        </div>

        <div class="seperator"></div>

        <div class="headline">
            Login With
        </div>

        <div class="col-xs-12 col-md-12 text-center">
            <button class="btn btn-info center-block social-btn facebook"><i class="fa fa-facebook-f"></i>Facebook
            </button>
        </div>

        <div class="sub-headline">
            OR
        </div>

        <div class="col-xs-12 col-md-12 text-center">
            <button class="btn btn-info center-block social-btn google"><i class="fa fa-google-plus"></i>Google +
            </button>
        </div>
    </div>
</div>