<div id="login">
    <div class="content">
        <div class="title">
            <span class="title-p1">X</span><span class="title-p2">PRO</span>
        </div>

        <div class="sub-title">
            Easy to impress
        </div>

        <div class="seperator"></div>

        <div class="headline">
            Login With
        </div>

        <div class="col-xs-12 col-md-12 text-center">
            <button class="btn btn-info center-block social-btn facebook"><i class="fa fa-facebook-f"></i>Facebook
            </button>
        </div>

        <div class="sub-headline">
            OR
        </div>

        <div class="col-xs-12 col-md-12 text-center">
            <button class="btn btn-info center-block social-btn google"><i class="fa fa-google-plus"></i>Google +
            </button>
        </div>
    </div>
</div>