<div class="content">
    <ul class="sidebar-menu">
        <li data-ng-class="{'active': vmShell.location === '/'}"><a href="/"><i
                data-ng-class="{'active': vmShell.location === '/'}" class="fa fa-cubes"></i><span class="title"
                                                                                             ng-class="{'mobile' : vmShell.sidebarToggled}">My Bots</span></a>
        </li>
        <li data-ng-class="{'active': vmShell.location === '/botlearning'}"><a href="/botlearning"><i
                data-ng-class="{'active': vmShell.location === '/botlearning'}" class="fa fa-certificate"></i><span class="title"
                                                                                                   ng-class="{'mobile' : vmShell.sidebarToggled}">Bot Learning</span></a>
        </li>
        <li data-ng-class="{'active': vmShell.location === '/settings'}"><a href="/settings"><i
                data-ng-class="{'active': vmShell.location === '/settings'}" class="fa fa-gear"></i><span class="title"
                                                                                            ng-class="{'mobile' : vmShell.sidebarToggled}">Settings</span></a>
        </li>
        <li data-ng-class="{'active': vmShell.location === '/analytics'}"><a href="/analytics"><i
                data-ng-class="{'active': vmShell.location === '/analytics'}" class="fa fa-line-chart"></i><span class="title"
                                                                                                  ng-class="{'mobile' : vmShell.sidebarToggled}">Analytics</span></a>
        </li>
    </ul>
</div>