<div class="content">
    <ul class="sidebar-menu">
        <li class="active"><a href="/"><i
                class="fa fa-cubes active"></i><span class="title"
                                              ng-class="{'mobile' : vmShell.sidebarToggled}">My Bots</span></a>
        </li>
        <li><a href="/botlearning"><i
                class="fa fa-certificate"></i><span class="title" ng-class="{'mobile' : vmShell.sidebarToggled}">Bot Learning</span></a>
        </li>
        <li><a href="/settings"><i
                class="fa fa-gear"></i><span class="title"
                                             ng-class="{'mobile' : vmShell.sidebarToggled}">Settings</span></a>
        </li>
        <li><a href="/analytics"><i
                class="fa fa-line-chart"></i><span class="title" ng-class="{'mobile' : vmShell.sidebarToggled}">Analytics</span></a>
        </li>
    </ul>
</div>