<div id="bot-details" data-ng-controller="BotDetails as vm">

    <div class="row">
        <div class="content-container">
            <div class="headline">
                <span>Question & Answers</span>
            </div>
            <div class="sub-headline">
                <span>Some Description</span>
            </div>

            <div class="content">
                <div class="thumbnail">
                    <div class="items-container">
                        <div ng-repeat="i in vm.botQuestions" class="question-item">
                            <div class="left-content">
                                <div>
                                    <div class="question-label">
                                        <i class="fa fa-question"></i>
                                    </div>
                                <svg class="sm" viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <pattern id="img-{{i}}" patternUnits="userSpaceOnUse" width="100" height="100">
                                            <image xlink:href="/content/images/bot-dummy.png"
                                                   x="-25" width="150" height="100"/>
                                        </pattern>
                                    </defs>
                                    <polygon class="hex" points="50 1 95 25 95 75 50 99 5 75 5 25"
                                             fill="url(#img-{{i}})"/>
                                </svg>
                                </div>
                            </div>
                            <div class="mid-content">
                                <div class="question">
                                    Chlorination is a process used for water purification. The disinfecting action of
                                    chlorine is mainly due to
                                </div>
                                <div class="answer">

                                    The formation of hypochlorous acid when chlorine is added to water.
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="child-hover-btn">
                                    <button type="button" class="close info" ng-click="vm.editQuestion()"><i
                                            class="fa fa-edit"></i>
                                    </button>
                                </div>
                                <div class="child-hover-btn">
                                    <button type="button" class="close warning" ng-click="vm.deleteQuestion()"><i
                                            class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row no-border">
                        <div class="sub-headline">
                            <span>Add New Utterances</span>
                        </div>
                        <div class="col-xs-12 col-md-12 text-center default-margin">
                            <button class="btn btn-info center-block" ng-click="vm.addQuestion()">Add New</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>